<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Tel</th>
            <th>Email</th>
            <th>Updated</th>
            <th>Created</th>
            <th>Deleted</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('lv_test_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.firstName }}</td>
            <td>{{ entity.lastName }}</td>
            <td>{{ entity.tel }}</td>
            <td>{{ entity.email }}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.deleted %}{{ entity.deleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('lv_test_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('lv_test_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('lv_test_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
