{% extends "LvPlatformBundle::layout.html.twig" %}
{% block content %}

<div class="row">
<div class="span12">
<h2>店舗登録</h2>

{% if formErrors %}<p><code>入力内容に不備があります</code></p>{% endif %}

<form action="{{ path('lv_shop_inputpost') }}" method="post" {{ form_enctype(form) }} novalidate>
    {#{{ form_widget(form) }}#}
    {% if shop.id %}
    <div>
      <label>店舗ID</label>
      {{ shop.id }}
    </div>
    {% endif %}

    {{ form_row(form.id) }}
    {{ form_row(form.shopAccount) }}
    {{ form_row(form.business) }}
    {{ form_row(form.companyName) }}
    {{ form_row(form.prefecture) }}
    {{ form_row(form.address) }}
    {{ form_row(form.buildingName) }}
    {{ form_row(form.municipalityCd) }}
    {{ form_row(form.capacity) }}
    {{ form_row(form.mail) }}
    {{ form_row(form.tel) }}

    {{ form_rest(form) }}
    <p>
        <button type="submit">登録</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('lv_shop_list') }}">
            一覧に戻る
        </a>
    </li>
</ul>

</div><!--/row-->
</div><!--/span-->
{% endblock %}
