{% extends "LvPlatformBundle::layout.html.twig" %}

{% block content %}

<h2>お店の一覧</h2>

{% include 'LvShopBundle:Shop:pagination.html.twig' %}

<table>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>都道府県</th>
    <th>電話番号</th>
    <th>客席数</th>
    <th>業種</th>
  </tr>
  {% for shop in shops %}
  <tr>
    <td>{{ shop.id }}</td>
    <td><a href="{{ path('lv_shop_detail', {'shop_id':shop.id}) }}">{{ shop.companyName }}</a></td>
    <td>{{ shop.prefecture.prefectureName }}</td>
    <td>{{ shop.tel }}</td>
    <td>{{ shop.capacity }}</td>
    <td>{{ shop.business.businessName }}</td>
  </tr>
  {% else %}
  <tr>
    <td colspan="6">No shops found</td>
  </tr>
  {% endfor %}
</table>

{% include 'LvShopBundle:Shop:pagination.html.twig' %}

{% endblock %}